/* Estilo base para el contenedor principal del contenido */
.content {
    padding: 40px; /* Espaciado interno de 20 píxeles */
    max-width: 1200px; /* Ancho máximo de 1200 píxeles */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: #000000; /* Color de fondo negro */
    color: #fff; /* Color del texto blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986); /* Sombra alrededor del contenedor */
    margin-bottom: 100px; /* Ajusta este valor según la altura de tu pie de página */
    margin-top: 10px;
}
/* Estilo para los títulos h2 dentro del contenido */
.content h2 {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espaciado inferior de 20 píxeles */
}
/* Media query para hacer responsive el tamaño de texto y el padding */
@media (max-width: 768px) {
    .content {
        padding: 15px; /* Ajusta el espaciado interno para pantallas más pequeñas */
        margin-top: 30px;
    }
    .content h2 {
        font-size: 24px; /* Ajusta el tamaño de fuente para títulos h2 en pantallas más pequeñas */
    }
}
